<a name="form-register"></a>
<section class="jumbotron mb-0 fullScreen" style="background-color: #b8ffb8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-register">
    <h3 class="mb-3 font-weight-normal">Registration</h3>

<div class="alert alert-{{message.type}}"  *ngIf="message.text">
  {{message.text}}
</div>

    <label class="sr-only">Email address</label>
    <input
      type="email"
      class="form-control"
      placeholder="Email address"
      formControlName="email"
    />
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <span *ngIf="form.get('email')['errors']['email']"
        >Email is incorrect</span
      >
      <span *ngIf="form.get('email')['errors']['required']"
        >Email is required</span
      >
    </span>

    <label class="sr-only">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      formControlName="password"
    />
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password')['errors']['required']"
        >Password is required</span
      >
      <span *ngIf="form.get('password')['errors']['minlength']"
        >Password length must be minimum
        {{
          form.get("password")["errors"]["minlength"]["requiredLength"]
        }}</span
      >
    </span>

    <label class="sr-only">Repeat password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Repeat password"
      formControlName="passwordAgain"
      (input)="passAgainChanged()"
    />
    <span
      class="form-help-text"
      *ngIf="form.get('passwordAgain').invalid && form.get('passwordAgain').touched"
    >
      <span *ngIf="form.get('passwordAgain')['errors']['required']"
        >Password repeat is required</span
      >
      <span *ngIf="form.get('passwordAgain')['errors']['matchesPassword']">Passwords dont match</span>
    </span>

    <button
      class="btn btn-lg btn-primary btn-block mt-3"
      type="submit"
      [disabled]="form.invalid"
    >
      Register
    </button>

  </form>
</section>
