<section class="jumbotron mb-0" style="background-color: lightsalmon">
  <div class="container">
    <div
      *ngIf="this.userService.hasFiles"
      class="active-cyan-4 col-lg-4 pl-0 mb-2"
      style="padding-right: 1.3rem"
    >
      <!-- style="padding-right: 1.3rem;" -->
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        aria-label="Search"
        #searchBox
        id="search-box"
        (input)="search(searchBox.value)"
      />
    </div>

    <div *ngIf="this.userService.hasFiles" class="col-lg-4 pl-0 mb-2">
      <div class="btn-group" data-toggle="buttons">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="nameOnClick()"
        >
          Name <i  [ngClass]="{'fa':nameDesc, 'fa-chevron-down': nameDesc }"></i>
          <i  [ngClass]="{'fa':nameAsc, 'fa-chevron-up': nameAsc }"></i>
                  <!-- <i *ngIf="getCurrentSort().sortBy == 'name' && getCurrentSort().sortOrder == 'asc'" class="fas fa-chevron-down"></i>
        <i *ngIf="getCurrentSort().sortBy == 'name' && getCurrentSort().sortOrder == 'desc'" class="fas fa-chevron-up"></i> -->
        <!-- <i *ngIf="nameAsc" class="fas fa-chevron-down"></i>
        <i *ngIf="nameAsc" class="fas fa-chevron-up"></i> -->
        <!-- <div *ngIf="getCurrentSort().sortBy == 'name' && getCurrentSort().sortOrder == ''; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><i class="fas fa-chevron-up"></i></ng-template>
        <ng-template #elseBlock><i class="fas fa-chevron-down"></i></ng-template> -->
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="timeOnClick()"
        >
          Upload Time
          <i [ngClass]="{'fa':timeDesc, 'fa-chevron-down': timeDesc }"></i>
          <i  [ngClass]="{'fa':timeAsc, 'fa-chevron-up': timeAsc }"></i>
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="sizeOnClick()"
        >
          Size
          <i [ngClass]="{'fa':sizeDesc, 'fa-chevron-down': sizeDesc }"></i>
          <i  [ngClass]="{'fa':sizeAsc, 'fa-chevron-up': sizeAsc }"></i>
        </button>
      </div>
    </div>

    <div *ngIf="!this.userService.hasFiles" class="pl-0 mb-2">
      <h5>No uploaded files</h5>
    </div>

    <div *ngIf="!this.hasLoadedFiles$ && this.userService.hasFiles" class="pl-0 mb-2">
      <h5>Cant load files, server returned nothing</h5>
    </div>

    <div class="row">
      <div class="col-lg-4 mt-4" *ngFor="let file of this.userService.outFiles$ | async">
        <div class="card my-card">
          <div class="card-body">
            <!-- [ngClass]="{ 'float-left': !file.description }" -->
            <h4
              class="card-title"
            >
              {{ file.name }}
            </h4>

            <p *ngIf="file.description" class="card-text float-left">
              {{ file.description }}
            </p>

            <div style="clear: both"></div>
            <div>
              <button
                (click)="download(file)"
                type="button"
                class="btn btn-outline-primary float-left"
              >
                Download
              </button>
            </div>

            <div class="delete-btn float-right">
              <button
                (click)="deleteFile(file.id)"
                type="button"
                class="btn btn-outline-primary"
              >
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-trash"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-text">
              <small class="text-muted"
                >Uploaded {{ file.uploadDate }}, {{ file.uploadTime }}. Size {{ getSizeFromBase64StringLength(file.content.length) }}</small
              >
            </p>
          </div>
        </div>
        <!-- card -->
      </div>
      <!-- columns -->
    </div>
    <!-- row -->
  </div>
</section>
