
<section class="jumbotron mb-0 fullScreen" style="background-color: lightblue">
  <div class="container">
    <h1 class="jumbotron-heading">Do you have an account?</h1>
    <p class="lead text-muted">
      This web-site will help you to save and share your files.
    </p>
    <p class="mt-4">
      <a href="landing#form-login" class="btn btn-primary btn-lg" style="width: 6rem"
        >Yes</a
      >
      <a
        href="landing#form-register"
        class="btn btn-secondary btn-lg"
        style="width: 6rem"
        >No</a
      >
    </p>
  </div>
</section>
